.home__content {
    grid-template-columns: 1fr 1fr;
    padding-top: 7rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--green-primary);
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__title-name {
    color: var(--green-primary);
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-right: 5.4rem;
    margin-bottom: var(--mb-1);
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home__img {
    background: url(../../assets/Headshot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
}

/* large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.25rem;
  }

  .home__subtitle {
    padding-right: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
  }
}
  
  /* medium devices */
  @media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 1fr;
    padding-top: 5rem;
    row-gap: 2rem;
  }

  .home__img {
    order: initial;
    justify-self: initial;
  }

  .home__img {
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;
  }
}
  
  /* small devices */
  @media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }
  }